/* styles.css */

:root {
    --primary-color: #4CAF50; /* Green */
    --warning-color: #FF6347; /* Soft red */
    --background-color: #f4f4f4; /* Light grey */
    --box-color: #e0e0e0; /* Light grey for boxes */
    --font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--background-color);
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    text-align: justify; /* Justify text alignment */
}

.container {
    text-align: center;
    margin: auto;
    width: 50%;
    margin-top: 20vh;
    background: var(--box-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h3 {
    color: black; /* Change to black */
    text-align: center; /* Center align headings */
}

h5 {
    color: black; /* Change to black */
    text-align: center; /* Center align headings */
}

button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--primary-color); /* No change on hover */
}

.warning-message {
    color: var(--warning-color);
    font-weight: bold;
}

.meal-plan-section {
    background: var(--primary-color);
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: justify; /* Justify text alignment */
}

.meal-plan-section strong {
    display: block;
    margin-bottom: 10px;
}

.fun-fact {
    font-size: smaller;
    color: black;
    text-align: justify; /* Justify text alignment */
}

.warning {
    color: var(--warning-color); /* Soft red color */
}

#doneButton {
    display: none;
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}